<table class="table table-striped">
    <thead>
        <tr>
            <th>{:__('Bid')}</th>
            <th>{:__('Opt_d')}</th>
            <th>{:__('Ads_id')}</th>
            <th>{:__('View_count')}</th>
            <th>{:__('Hit_count')}</th>
            <th>{:__('Hit_per')}</th>
        </tr>
    </thead>
    <tbody>
        {volist name="row" id="vo"  }
            <tr>
                <td>{$vo['b_id']|htmlentities}</td>
                <td>{$vo['opt_d']|htmlentities}</td>
                <td>{$vo['ads_id']|htmlentities}</td>
                <td>{$vo['view_count']|htmlentities}</td>
                <td>{$vo['hit_count']|htmlentities}</td>
                <td>{$vo['hit_per']|htmlentities}</td>
            </tr>
        {/volist}
    </tbody>
</table>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>