<table class="table table-striped">
    <thead>
        <tr>
            <th>{:__('Bid')}</th>
            <th>{:__('Ads_id')}</th>
            <th>{:__('Channel_id')}</th>
            <th>{:__('Ip')}</th>
            <th>{:__('add_time')}</th>
        </tr>
    </thead>
    <tbody>
        {volist name="row" id="vo"  }
            <tr>
                <td>{$vo['b_id']|htmlentities}</td>
                <td>{$vo['ads_id']|htmlentities}</td>
                <td>{$vo['channel_id']|htmlentities}</td>
                <td>{$vo['ip']|htmlentities}</td>
                <td>{$vo['add_time']|datetime}</td>
            </tr>
        {/volist}
    </tbody>
</table>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>