<table class="table table-striped">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>修改后的锁定标识<font color="#dc143c">[0:非锁定,非0:锁定]</font></td>
            <td>
                <div class="input-group">
                    <input name="ids" type="hidden" class="form-control" value="{$ids}" />
                    <input name="callback" class="form-control" value="{$row['lock_flag']}" placeholder="请输入锁定标识" />
                    <span class="input-group-btn"><a href="javascript:;" class="btn btn-success btn-callback" >修改锁定标识</a></span>
                </div>
            </td>
        </tr>

    </tbody>
</table>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="resetpw" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>