<table class="table table-striped">
    <thead>
        <tr>
            <th>{:__('My_order_num')}</th>
            <th>{:__('Pt_order_num')}</th>
            <th>{:__('Amount')}</th>
            <th>{:__('Server_id')}</th>
            <th>{:__('Server_name')}</th>
            <th>{:__('Role_id')}</th>
            <th>{:__('Role_name')}</th>
            <th>{:__('Pay_time')}</th>
        </tr>
    </thead>
    <tbody>
        {volist name="row" id="vo"  }
            <tr>
                <td>{$vo['my_order_num']|htmlentities}</td>
                <td>{$vo['pt_order_num']|htmlentities}</td>
                <td>{$vo['amount']|htmlentities}</td>
                <td>{$vo['server_id']|htmlentities}</td>
                <td>{$vo['server_name']|htmlentities}</td>
                <td>{$vo['role_id']|htmlentities}</td>
                <td>{$vo['role_name']|htmlentities}</td>
                <td>{$vo['pay_time']|datetime}</td>
            </tr>
        {/volist}
    </tbody>
</table>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>